<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		 <add key="ConnectionString" value="Data Source=GEROC-LT4\SQLEXPRESS01; Initial Catalog=CORE4; Integrated Security=true;Trusted_Connection=true;TrustServerCertificate=True;MultipleActiveResultSets=False;"/>
		<!--<add key="ClientAPIURL" value="http://192.168.1.77:81/api/sync"/>-->
		<!--<add key="ConnectionString" value="Data Source=GEROC-SQL01\SQLEXPRESS2019; Initial Catalog=CORE;User ID=DMS;Password=testtest;Authentication=SqlPassword;TrustServerCertificate=True;"/>-->
		 <add key="ClientAPIURL" value="http://192.168.178.25:81/api/sync"/> 
		<add key="DefaultScope" value="v0"/>
	</appSettings>
</configuration>

